 /* 게시글 작성 폼 스타일 */
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
 
 div {
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }

  input[type="text"],
  textarea {
    width: 50%;
    max-width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
  }

  textarea {
    resize: vertical;
  }

  input[type="file"] {
    margin-bottom: 20px;
  }

  

  #author-info {
    margin-bottom: 10px;
    text-align: left;
  }

  #author-email {
    font-weight: bold;
    margin-left: 5px;
  }

  p#author-info {
    text-align: center;
  }

  select#category {
    width: 60px;
    padding: 5px;
  }

  .category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-group-text {
    margin-right: 10px;
  }
  
  button#articlepost {
    padding: 10px 20px;
    background-color: #464646;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .15s linear;
  }

  button#articlepost:hover {
    color:white;
    background-color: #212121;
  }

  