.article-detail-container {
  width: 900px;
  flex-direction: column;
  text-align: center;
  margin: auto auto 2% auto;
}

.article-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px 20px 0;
}

#article-print-button,
#article-share-button,
#article-scrap-button,
#article-update-button,
#article-delete-button,
#article-report-button {
  border: none;
  background-color: transparent;
  border-radius: 30px;
  font-size: 15px;
}

#article-report-button:hover{
  background-color: rgb(223, 226, 255);
}

#article-print-button:hover {
  background-color: rgb(223, 226, 255);
}

#article-share-button:hover {
  background-color: rgb(223, 226, 255);
}

#article-scrap-button:hover {
  background-color: rgb(223, 226, 255);
}

#article-update-button:hover {
  background-color: rgb(223, 226, 255);
}

#article-delete-button:hover {
  background-color: rgb(223, 226, 255);
}

.article-category {
  width: 100%;
  text-align: left;
  margin: 10px 0px 15px 0;
  float: left;
  color: gray;
  text-decoration: none;
}

.article-category:hover {
  text-decoration: underline;
}

.article-detail-title {
  width: 100%;
  text-align: left;
}

.article-user {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  display: flex;
}

#article-user-url {
  text-decoration: none;
}

#article-user-url:hover {
  text-decoration: underline;
}

.subscribe-button1 {
  margin-left: 10px;
  border: none;
  border-radius: 30px;
}

.subscribe-button1:hover {
  background-color: rgb(223, 226, 255);
}

.date-at {
  width: 900px;
  text-align: left;
  margin: 5px 0px 10px 0;
  float: left;
  color: gray;
}

#article-image {
  width: 80%;
  margin: auto;
}

#article-image-content {
  width: 80%;
  margin: 10px auto 5% auto;
  color: gray;
}

.article-content {
  width: 100%;
  text-align: left;
  margin-bottom: 5%;
}

#article-user-nickname2,
#article-user-email2 {
  float: left;
  display: inline;
  margin: auto 10px 5% auto
}

.article-reaction {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.article-reaction button {
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.article-reaction button:hover {
  transform: rotate(15deg);
}

.article-summary {
  text-align: left;
}