.article-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.article-button {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.article-button button {
  margin-right: 5px;
}

.comment_profile_image {
  width: 50px;
  height: 50px;
  margin-right: 5px;

  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment-user-profile-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;

  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment-container {
  margin-bottom: 10px;
}

.comment-section {
  margin-top: 10px;
}

.comment-save-button {
  margin-right: 5px;
}

.article-reaction {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.article-reaction button {
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.article-reaction button:hover {
  transform: rotate(15deg);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.article-update-button button {
  margin-left: 10px;
}

