
/* main 기사 */

.articles-container {
  margin:auto;
  position: relative;
  display: flex;
  justify-content: center; 
}

.main-article {
  border-bottom: 1px solid #eeeeee;
  height: 370px;
  right: 0.5%;
  width: 550px;
  top: 20%;
  position: relative;
  /* eeeeee */
}

.main-article h3 {
  margin-left: 30px;
  color: rgb(54, 92, 188);
}

.main-title {
  margin-top: 0;
  font-size: 16px;
  margin-left: 10px;
  
}

.sub-article{
  border-bottom: 1px solid #eeeeee;
  width: 420px;
  left:0%;
  position: relative;
}

.main-img {
  cursor: pointer;
  width: 200px;
  height: 100px;
  /* margin-bottom: 10px; */
}

/* sub 기사 */
.article {
  background-color: #ffffff;
  margin: 0;
  padding: 10px 0 10px 10px;
  border-top: 1px solid #eeeeee;
  text-align: center;
  width: 100%;
  height: 50px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.article h3{
  margin-bottom: 0px;
  color: rgb(54, 92, 188);
}

.article .sub-title {
  width: 60%;
  height: 67px;
  display: flex;
  margin-top: 45px;
  align-items: center;
  /* background-color: #45a2fa; */
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  color: rgb(66, 66, 66);
}

.article .sub-img {
  width: 126px;
  height: 67px;
  transform: translate(40%);
  
  object-fit: cover;
  /* object-position: center; */
  cursor: pointer;
  margin-top: 22px;
}

/* 오늘의 베스트기사 부분 */
.today-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-container {
  display: flex;
  justify-content: center; 
  gap: 80px;
  margin-top: 20px;
  /* height: 400px; */
}


.best-article-container {
  /* background-color: #45a2fa; */
  width: 450px;
  /* border: 1px solid #eeeeee;
  border-radius: 3%; */
  margin-bottom: 30px;
}

.best-article-container h3 {
  color: rgb(54, 92, 188);
}


.best-article {
  height: 400px;
  border: 1px solid #eeeeee;
  border-radius: 3%;
  overflow: hidden;
  cursor: pointer;
}

.best-img {
  width: 450px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.best-textbox {
  padding: 0 10px 0px 10px;
}

.best-title {
  margin-top: 10px;
  font-size: 18px;
}

/* 기자리스트 부분 */
.user-list-container {
  justify-content: center; 
}

.user-list-container h3{
  /* right: -165px; */
  position: relative;
  color: rgb(54, 92, 188);
}

.user-list {
  /* background-color: antiquewhite; */
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #eeeeee;
  margin: auto;
  width: 400px;
  /* transform: translate(60%); */
  background-color: #ffffff;
}

.user-card{
  margin: 20px 0px 10px 32px;
  
  position: relative;
  display: inline-block;
}

.user-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  border: 1px solid #eeeeee;
  margin-bottom: 5px;
  cursor: pointer;
}

.subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: rgb(177, 177, 177);
  padding: 5px 10px;
  font-size: 12px;
  width: auto;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.subscribe-button.subscribed {
  background-color: #45a2fa;
}

.subscribe-button span {
  display: block;
  text-align: center;
  line-height: normal;
  color: white;
}

.user-name {
  text-align: center;
  width: 50px;
}

html {
  scroll-behavior: smooth;
}

.back-to-top {
  bottom: 1em;
  opacity: 0.9;
  position: fixed;
  right: 1em;
  transition: opacity 200ms ease;
  z-index: 1;
}

.back-to-top:hover {
  opacity: 1;
}

.at-top .back-to-top,
.at-bottom .back-to-top {
  opacity: 0;
  pointer-events: none;
}


/* top 버튼 */
html {
  scroll-behavior: smooth;
}

.back-to-top {
  bottom: 1em;
  opacity: 0.9;
  position: fixed;
  right: 1em;
  transition: opacity 200ms ease;
  z-index: 1;
  text-decoration: none;
  font-size: 24px;
  color: rgb(54, 92, 188);
}

.back-to-top:hover {
  opacity: 1;
}

.at-top .back-to-top {
  opacity: 0;
  pointer-events: none;
}



/* .articles-container {
 
 position: relative;
 top: 40px;
}  */


/* 날씨 부분 */
@font-face {
  font-family: 'HANAMDAUM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.weather-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.weather {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  background-size: cover;  
  background-position: center; 
  font-family: 'HANAMDAUM', sans-serif;
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  /* color: white; */
}

.weather > * {
  /* margin-left: 10px; */
  margin-right: 10px;
}

.weather .weather-city {
  font-size: 25px;
}

.weather .weather-temp {
  font-size: 15px;
}

.weather .weather-humidity {
  font-size: 15px;
}

.weather .weather-rain {
  margin-right: 60px;
  font-size: 15px;
}

/* 날씨 버튼 */
.weather-slide-button {
  position: absolute;
  top: 50%;
  font-size: 20px;
  background: none;
  border: none;
  z-index: 2;
  transform: translateY(-50%);
  color: grey;
  cursor: pointer;
}

#weather-prev-button {
  left: 10px;
}

#weather-next-button {
  right: 10px;
}