

.articles-container {
  
 margin-right: 60%;
 position: relative;
 display: flex;
justify-content: center; 
}

.main-article{
  border-bottom: 1px solid #eeeeee;
  height: 250px;
  margin: 0px 445px;
  width: 600px;
  top: 20%;
  position: relative;
  left: 60%;
  /* eeeeee */
}

.sub-article{
  border-bottom: 1px solid black;
  width: 390px;
  left:3%;
  position: relative;

}

html {
  scroll-behavior: smooth;
}

.back-to-top {
  bottom: 1em;
  opacity: 0.9;
  position: fixed;
  right: 1em;
  transition: opacity 200ms ease;
  z-index: 1;
}

.back-to-top:hover {
  opacity: 1;
}

.at-top .back-to-top,
.at-bottom .back-to-top {
  opacity: 0;
  pointer-events: none;
}