.navbar {
  width: 1000px;
  border: 1px solid #eeeeee; /* 연한 회색 테두리 선 */
  font-size: 12px;
  margin: auto;
  height: 150px;
  background: #ffffff;
 
  
}

.navbar a {
  color: #a0a0a0;
  font-weight: bold;
  text-decoration: none; /* 밑줄 제거 */
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 1px;
  display: inline-block;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  
}

.nav-item.disable {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 1px;
}

#login-btn,
#signup-btn {
  display: inline-block;
  margin-left: 5px;
 
}


/* 버튼 색상 */
.navbar .nav-link.btn {
  font-size: 12px;
  color: #a0a0a0;
  font-weight: bold

}

/* 로그아웃 버튼의 왼쪽 여백 설정 */
.nav-link.btn {
  margin-left: 1px;
 
}

/* 프로필 css */
#profile_intro {
  color: #a0a0a0;
  font-weight: bold;
  margin-left: auto;
  margin-top: -6.3px;
  margin-right: 3px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

/* 글쓰기 간격 */
#create-article {
  margin-right: 3px; /* 글쓰기 버튼의 오른쪽 여백 설정 */
}


.navbar .nav-link.btn:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  color: white;
}

/* 글쓰기 버튼 호버 시 스타일 */
#create-article:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  color: white;
}

/* 쪽지 버튼 호버 시 스타일 */
#create-note:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  color: white;
}

/* 로그아웃 버튼 호버 시 스타일 */
#logout-btn:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  color: white;
}

/* 로그인 버튼 호버 시 스타일 */
#login-btn:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  color: white;
  content: "l";
}

/* 회원가입 버튼 호버 시 스타일 */
#signup-btn:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  color: white;
}

#profile_intro:hover {
  background-color: limegreen;
  border: 1px solid limegreen;
  color: white!important;
  
}

#profile_intro img {
 /* 로그인시 프로필 이미지 위치 조정 */
  transform: translateY(20%); 
}


.logo-container {
  /* margin-left: 420px; */
  position: relative;
  left: 50.5%;
  transform: translate(-50%, 50%);
}


/* 카테고리 */
.navbar-category{
  border: 1px solid #eeeeee; /* 테두리 설정 */
  margin: 0 4px; /* 좌우 여백 조정 */
  width: 970px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px;
  
}
.nav-category{
  display: inline-flex;;
  align-items: center;
}

.nav-category a {
  color: #3d3d3d;
  text-decoration: none;
  margin-right: 70px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer; /* 버튼 커서 설정 */
  
}
.nav-category a:hover {
  color: #fa7cd7;
  border-bottom: 2px solid #fa7cd7;
}


/* 검색  */

.d-flex {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 1000px;
  border: 1px solid #eeeeee;
  background: #ffffff;
  height: 50px;
}

.form-control{
  width: 200px;
  position: relative;
  margin-top: 7%;
  
}

/* today */
/* .today-article{
  width: 70px;
  vertical-align: top;
  transform: translate(10%);
  } */