.login-container {
  text-align: center;
  margin-top: 50px;
}

.login-container img {
  width: 250px;
}

.login-box {
  margin-top: 30px;
}

.login-text {
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
}

.login-box .form-group {
  margin-bottom: 20px;
}

.login-box .input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #464646;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
  transition: all .15s linear;
}

.login-box button:hover {
  background-color: #212121;
}
