.login-container {
  text-align: center;
  margin-top: 150px;
}

.login-container img {
  width: 150px;
}

.newPassword {
  margin-top: 50px;
}

.newPassword h4 {
  font-size: 18px;
}

.newPassword input {
  display: block;
  width: 400px;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newPassword button {
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #464646;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  transition: all .15s linear;
}

.newPassword button:hover {
  background-color: #212121;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
