#form-container {
    width: 600px;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    
  }

  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-top: 120px;
      
    }

    
    h2 {
      margin-top: 30px;
      
    }

    p {
      margin-bottom: 10px;
      
    }

    label {
      display: block;
      margin-top: 10px;
      position: relative;
      text-align: center;
      
      
    }

    input[type="checkbox"] {
      margin-right: 5px;
      margin: auto;
      position: relative;
     
    }

    button[type="button"] {
      display: block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #464646;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      margin: auto;
      transition: all .15s linear;
    }
    button[type="button"]:hover {
      background-color: #212121;
      color: #fff;
      transition: background-color 0.3s, color 0.3s;
    }