.profile-page {
    display: flex;
    width: 1000px;
    margin: 2% auto 2% auto;
}

.profile-page-container,
.p {
    /* text-align: center; */
    font-size: 1rem;
}

.profile-page-container {
    width: 30%;
    /* padding-right: 20px; */
}

#user-profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
    justify-content: center;
}

.my-article-list-container {
    width: 70%;
    margin: 0 0 0 5%;
}

.my-article-list,
.my-scrap-article-list {
    height: 47%;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.category {
    width: 10%;
    font-weight: bold;
    color: gray;
    font-size: 14px;
    /* text-align: center; */
    float: left;
    /* margin-right: 5%; */
    margin-left: 2%;
    text-decoration: none;
}

.category:hover {
    text-decoration: underline;
}

.articleId {
    width: 5%;
    font-weight: bold;
    color: black;
    font-size: 14px;
    float: left;
    margin-left: 20px;
    text-align: center;
}

.title {
    width: 40%;
    font-weight: bold;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
}

.reaction {
    font-size: 14px;
    margin-right: 10%;
    float: right;
}

.author {
    font-size: 14px;
    margin-right: 7%;
    float: right;
    font-weight: bold;
}

.author:hover {
    text-decoration: underline;
}

.createdAt {
    color: rgb(0, 0, 194);
    font-size: 14px;
    float: right;
    margin-right: 3%;
}

.scrapcancle {
    float: right;
    margin-right: 5%;
    border: none;
    background-color: transparent;
}

.h3color {
    text-align: center;
}

#user-edit {
    border: none;
    /* background-color: rgb(223, 226, 255); */
    border-radius: 30px;
    font-size: 15px;

    float: right;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#user-edit:hover {
    background-color: rgb(223, 226, 255);
}

#subscribe-button {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    float: right;
    margin-bottom: 10px;
    padding: 5px 10px;
}

#subscribe-button:hover {
    background-color: rgb(223, 226, 255);
}

.profile-page-button,
a {
    text-decoration: none;
    color: black;
}

#user-message:hover {
    background-color: rgb(223, 226, 255);
    padding: 10px 10% 10px 5px;
    border-radius: 10px;
}

#user-subscribe:hover {
    background-color: rgb(223, 226, 255);
    padding: 10px 10% 10px 5px;
    border-radius: 10px;
}

#user-password-reset :hover {
    background-color: rgb(223, 226, 255);
    padding: 10px 10% 10px 5px;
    border-radius: 10px;
}

#user-delete :hover {
    background-color: rgb(223, 226, 255);
    padding: 10px 10% 10px 5px;
    border-radius: 10px;
}

#article-pagination,
#scrap-pagination {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#article-pagination a,
#scrap-pagination a {
    color: rgb(223, 226, 255);
    padding: 2px 8px;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 3px;
}

#article-pagination a.active,
#scrap-pagination a.scrap-active {
    background-color: rgb(223, 226, 255);
    color: black
}

#delete-btn {
    width: 25%;
    padding: 5px;
    margin-top: 20px;
    margin-right: 15px;
    font-size: medium;
    background-color: #464646;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cancel-btn {
    width: 25%;
    padding: 5px;
    margin-top: 20px;
    margin-right: 15px;
    font-size: medium;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}